@{
    ViewData["Title"] = "Dashboard";
    
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="p-6">
    <h1 class="text-3xl font-heading text-brand-primary font-bold">
        Dashboard Overview
    </h1>
    <p class="mt-4 text-slate-600 font-body">
        Nếu dòng này hiển thị font Roboto và màu xám, CSS đã hoạt động!
    </p>
</div>